@import url('@/styles/global.css');

.app {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  min-height: 204px;
  padding: 32px 20px;
}

.app h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-400);
}

.app p {
  margin: 0;
  color: var(--gray-600);
}

.app img {
  width: auto;
  height: 80px;
}

.app img::selection {
  background: transparent;
}

.app time {
  margin-top: 12px;
  font-size: 64px;
  font-weight: 100;
  line-height: 1;
  color: var(--primary-600);
}

.buttonGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12px;
}