@import "@/styles/global.css";

.app {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 140px);
  padding: 140px 20px 0;
  background: var(--primary-50);
}

.app h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--primary-400);
}

.app p {
  margin: 0;
  color: var(--gray-600);
}

.app img {
  width: auto;
  height: 120px;
}

.control {
  display: flex;
  align-items: center;
}

.control label {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary-400);
}

.control input {
  min-width: 60px;
  text-align: right;
  padding: 0.4em;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid var(--primary-500);
  color: var(--primary-400);
}

.control .button:hover {
  background: var(--primary-100);
}