@import "@/styles/global.css";

.app {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 140px);
  padding: 140px 20px 0;
}

.app h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--primary-400);
}

.app p {
  margin: 0;
  color: var(--gray-600);
}

.app img {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  scale: 1.2;
  width: auto;
  height: 240px;
  opacity: 0.4;
  animation: rotation 20s linear infinite alternate-reverse;
}