.container {
}

.headline {
  display: inline-block;
}

.grid {
  display: flex;
  flex-direction: column;
  @media (min-width: 40em) {
    flex-direction: row;
  }
}

.gridItem1 {
  flex: 0 0 160px;
  margin-right: 2rem;
  min-height: 100px;
  @media (min-width: 40em) {
    margin-right: 2rem !important;
  }
}

.gridItem2 {
  flex: 1;
  & .child1 {
    min-height: 20px;
    margin-bottom: 2rem !important;
  }
  & .child2 {
    min-height: 160px;
  }
}
